#about {
  
  background-color: gray;
  background-image: linear-gradient(
    135deg,
    rgb(224, 224, 224),
    rgb(224, 224, 224)
  );
  color: black;
  height: 100%;
  // border-top: 0px;
  width: 70%;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  // padding-bottom: 10%;
  margin: 0 auto;
  margin-top: 20rem;
  border-radius: 20px;
  margin-bottom: 20rem;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(tab-port) {
        padding-bottom: 6.4rem;
      }
      @include respond(tab-land) {
        height: 100%;
      }
    }

    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;

      @include respond(phone) {
        align-items: center;
      }

      &-text {
        text-align: left;

        @include respond(tab-port) {
          font-size: 1.5rem;
          text-align: center;
        }
        @include respond(phone) {
          font-size: 1.6rem;
          text-align: center;
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}

.about-wrapper-technology{
  display: flex;
  justify-content: space-evenly;
    
}
.skill-body{
  font-size: 18px;
  text-align: left;
}
.skill-body-sub{
  font-size: 15px;
  text-align: left;
}

// .skill-tab{
//   background-color: transparent !important;
//   margin-top: 2px;
//   border: white solid 1px;
//   color: #ffffff !important;
//   &:active{
//     border: white solid 1px;

//   }
//   &:focus{
//     border: white solid 1px;
//   }
//   &:hover{
//     color: rgb(143, 151, 153) !important;
//   }
// }
.skill-container{
  padding-top: 30px;
}
.section-subtitle{
  font-size: 30px;
  margin-bottom: 30px;
}

.nav-link.active{
  background-color: rgba(1,1,1,0.2) !important;
  color: #ffffff !important;
}
.nav-pills{
  color: black  !important;
}
.skill-tab{
  color: black;
  margin-top: 20px;
}